.git
.github
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
docker-compose.yml
docker-compose.ci.yml
docker-compose.prod.yml
.env
.env.*
README.md